.footer {

    width: 100%;
    height: 100px;
    margin-top: 50px;
}

.end_of_page {

    position: absolute;
    width: 120.08px;
    height: 20.1px;
    margin-left: 638px;
    top: 1950px;
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 20.6531px;
    line-height: 20px;
    color: #222222;
}

.copyright {

    position: absolute;
    width: 400px;
    height: 13.17px;
    margin-left: 478px;
    top: 2000px;
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 15.1656px;
    line-height: 13px;
    text-align: center;
    color: #73738D;
}

@media screen and (max-width: 568px){

    .footer {

        width: 100%;
        height: 100px;
        margin-top: 50px;
    }
    
    .end_of_page {

        position: absolute;
        width: 120.08px;
        height: 20.1px;
        margin-left: 110px;
        top: 2750px;
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 20.6531px;
        line-height: 20px;
        color: #222222;
    }
    
    .copyright {

        position: absolute;
        width: 270px;
        height: 13.17px;
        margin-left: 15px;
        top: 2790px;
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: 500;
        font-size: 11.1656px;
        line-height: 13px;
        text-align: center;
        color: #73738D;
    }

}