.photo_one {

    position: absolute;
    width: 9.24px;
    height: 6.93px;
    left: 800.75px;
    margin-top: 745.02px;
}

.date_of_birth {

    position: absolute;
    width: 100.51px;
    height: 16.63px;
    left: 812.92px;
    margin-top: 742.87px;
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 150%;
    color: #73738D;

}

.second_photo {

    position: absolute;
    width: 9.24px;
    height: 6.93px;
    left: 800.75px;
    top: 830.29px;
}

.family_and_friend {

    position: absolute;
    width: 82.47px;
    height: 16.63px;
    left: 812.92px;
    top: 815.13px;
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 150%;
    color: #73738D;

}

.third_photo {

    position: absolute;
    width: 9.24px;
    height: 6.93px;
    left: 925.75px;
    top: 796.29px;
}

.business_meetings {

    position: absolute;
    width: 180.87px;
    height: 16.63px;
    left: 938.59px;
    top: 780.87px;
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 150%;
    color: #73738D;
}

.fourth_photo {

    position: absolute;
    width: 9.24px;
    height: 6.93px;
    left: 925.42px;
    top: 830.29px;
}

.surroundings {

    position: absolute;
    width: 67.23px;
    height: 16.63px;
    left: 938.59px;
    top: 815.13px;
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 150%;
    color: #73738D;
}

.green_tick1 {

    position: absolute;
    width: 20.18px;
    height: 17.68px;
    left: 159.85px;
    top: 995.91px;
}

.green_tick2 {

    position: absolute;
    width: 20.15px;
    height: 17.63px;
    left: 151.84px;
    top: 990.46px;
}

.second_title {

    position: absolute;
    width: 1200.01px;
    height: 30.49px;
    left: 144.07px;
    top: 1030.06px;
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 24.95px;
    line-height: 30px;
    color: #222222;

}