.third_title{

    position: absolute;
    width: 275.55px;
    height: 20.1px;
    left: 160.01px;
    top: 1437.26px;
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: 600;
    font-size: 16.6333px;
    line-height: 20px;
    color: #222222;
    }
    
    
    .third_text{
    
    position: absolute;
    width: 150.03px;
    height: 13.17px;
    left: 160.01px;
    top: 1460.13px;
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 13px;
    color: rgba(34, 34, 34, 0.8);
    }
    
    .fourth_text{
    
    position: absolute;
    width: 100.59px;
    height: 11.09px;
    left: 160.01px;
    top: 1491.32px;
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: 500;
    font-size: 9.70278px;
    line-height: 11px;
    color: rgba(34, 34, 34, 0.6);
    }
    
    .eigth_photo{
    
    position: absolute;
    width: 16.63px;
    height: 16.63px;
    left: 155.01px;
    top: 1520.72px;
    
    }
    
    .ninth_photo{
    
    position: absolute;
    width: 16.63px;
    height: 16.63px;
    left: 270.31px;
    top: 1520.72px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    
    .tenth_photo{
    
    position: absolute;
    width: 16.63px;
    height: 16.63px;
    left: 390.58px;
    top: 1520.72px;
    }
    
    .Kamath{
    
    position: absolute;
    width: 150.94px;
    height: 13.17px;
    left: 175.8px;
    top: 1512.11px;
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 13px;
    color: rgba(34, 34, 34, 0.8);
    }
    
    .Saraswat{
    
    position: absolute;
    width: 150.17px;
    height: 13.17px;
    left: 290.47px;
    top: 1512.8px;
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 13px;
    color: rgba(34, 34, 34, 0.8)
    }
    
    .Gangwar{
    
    position: absolute;
    width: 150.17px;
    height: 13.17px;
    left: 410.37px;
    top: 1512.8px;
    font-family:"Gilroy-Bold";
    font-style: normal;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 13px;
    color: rgba(34, 34, 34, 0.8);
    }
    
    .fifth_text{
    
    position: absolute;
    width: 325.17px;
    height: 58.76px;
    left: 155.48px;
    top: 1559.53px;
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: 500;
    font-size: 9.70278px;
    line-height: 180%;
    color: rgba(115, 115, 141, 0.8);
    
    }
    
    .three_dots{
    
    position: absolute;
    width: 10.77px;
    height: 2.77px;
    left: 480.53px;
    top: 1455.66px;
    background:grey;
    }
    
    .rectangle{
    
    position: absolute;
    width: 3.47px;
    height: 24.95px;
    left: 485.53px;
    top: 1572.53px;
    background: #f0f1ef;
    border-radius: 5.54444px;
    }
    
    .green_tick7{
    
    position: absolute;
    width: 51.98px;
    height: 51.98px;
    left: 775.75px;
    top: 1360.33px;
    background: #E4F7F2;
    border-radius: 31.8806px;
    }
    
    .fourth_title{
    
    position: absolute;
    width: 346.53px;
    height: 30.49px;
    left: 780.75px;
    top: 1430.73px;
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 24.95px;
    line-height: 30px;
    color: #222222;
    }
    
    .sixth_text{
    
    position: absolute;
    width: 340.06px;
    height: 88.71px;
    left: 780.75px;
    top: 1490.85px;
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: 500;
    font-size: 14.5542px;
    line-height: 150%;
    color: #73738D;
    }
    
    .fifth_title{
    
    position: absolute;
    width: 458.8px;
    height: 30.49px;
    left: 160.01px;
    top: 1780.07px;
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 24.95px;
    line-height: 30px;
    color: #222222;
    
    }
    
    .seventh_text{
    
    position: absolute;
    width: 175.61px;
    height: 16.63px;
    left: 160.01px;
    top: 1820.11px;
    font-family:"Gilroy-Bold";
    font-style: normal;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 150%;
    color: #73738D;
    }
    
    .search_button{
    
    position: absolute;
    width: 155.94px;
    height: 41.58px;
    left: 910.93px;
    top: 1800.31px;
    background: #26C296;
    border-radius: 33.9597px;
    }

    @media screen and (max-width: 568px){
        .third_title{

            position: absolute;
            width: 275.55px;
            height: 20.1px;
            left: 30.01px;
            top: 2000.26px;
            font-family: "Gilroy-Bold";
            font-style: normal;
            font-weight: 600;
            font-size: 16.6333px;
            line-height: 20px;
            color: #222222;
            }
            
            
            .third_text{
            
            position: absolute;
            width: 150.03px;
            height: 13.17px;
            left: 160.01px;
            top: 3000.13px;
            font-family: "Gilroy-Bold";
            font-style: normal;
            font-weight: 500;
            font-size: 11.0889px;
            line-height: 13px;
            color: rgba(34, 34, 34, 0.8);
            }
            
            .fourth_text{
            
            position: absolute;
            width: 100.59px;
            height: 11.09px;
            left: 160.01px;
            top: 1491.32px;
            font-family: "Gilroy-Bold";
            font-style: normal;
            font-weight: 500;
            font-size: 9.70278px;
            line-height: 11px;
            color: rgba(34, 34, 34, 0.6);
            }
            
            .eigth_photo{
            
            position: absolute;
            width: 16.63px;
            height: 16.63px;
            left: 155.01px;
            top: 1520.72px;
            
            }
            
            .ninth_photo{
            
            position: absolute;
            width: 16.63px;
            height: 16.63px;
            left: 270.31px;
            top: 1520.72px;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            }
            
            .tenth_photo{
            
            position: absolute;
            width: 16.63px;
            height: 16.63px;
            left: 390.58px;
            top: 1520.72px;
            }
            
            .Kamath{
            
            position: absolute;
            width: 150.94px;
            height: 13.17px;
            left: 175.8px;
            top: 1512.11px;
            font-family: "Gilroy-Bold";
            font-style: normal;
            font-weight: 500;
            font-size: 11.0889px;
            line-height: 13px;
            color: rgba(34, 34, 34, 0.8);
            }
            
            .Saraswat{
            
            position: absolute;
            width: 150.17px;
            height: 13.17px;
            left: 290.47px;
            top: 1512.8px;
            font-family: "Gilroy-Bold";
            font-style: normal;
            font-weight: 500;
            font-size: 11.0889px;
            line-height: 13px;
            color: rgba(34, 34, 34, 0.8)
            }
            
            .Gangwar{
            
            position: absolute;
            width: 150.17px;
            height: 13.17px;
            left: 410.37px;
            top: 1512.8px;
            font-family:"Gilroy-Bold";
            font-style: normal;
            font-weight: 500;
            font-size: 11.0889px;
            line-height: 13px;
            color: rgba(34, 34, 34, 0.8);
            }
            
            .fifth_text{
            
            position: absolute;
            width: 325.17px;
            height: 58.76px;
            left: 155.48px;
            top: 1559.53px;
            font-family: "Gilroy-Bold";
            font-style: normal;
            font-weight: 500;
            font-size: 9.70278px;
            line-height: 180%;
            color: rgba(115, 115, 141, 0.8);
            
            }
            
            .three_dots{
            
            position: absolute;
            width: 10.77px;
            height: 2.77px;
            left: 480.53px;
            top: 1455.66px;
            background:grey;
            }
            
            .rectangle{
            
            position: absolute;
            width: 3.47px;
            height: 24.95px;
            left: 485.53px;
            top: 1572.53px;
            background: #f0f1ef;
            border-radius: 5.54444px;
            }
            
            .green_tick7{
            
            position: absolute;
            width: 51.98px;
            height: 51.98px;
            left: 775.75px;
            top: 1360.33px;
            background: #E4F7F2;
            border-radius: 31.8806px;
            }
            
            .fourth_title{
            
            position: absolute;
            width: 346.53px;
            height: 30.49px;
            left: 780.75px;
            top: 1430.73px;
            font-family: "Gilroy-Bold";
            font-style: normal;
            font-weight: bold;
            font-size: 24.95px;
            line-height: 30px;
            color: #222222;
            }
            
            .sixth_text{
            
            position: absolute;
            width: 340.06px;
            height: 88.71px;
            left: 780.75px;
            top: 1490.85px;
            font-family: "Gilroy-Bold";
            font-style: normal;
            font-weight: 500;
            font-size: 14.5542px;
            line-height: 150%;
            color: #73738D;
            }
            
            .fifth_title{
            
            position: absolute;
            width: 458.8px;
            height: 30.49px;
            left: 160.01px;
            top: 1780.07px;
            font-family: "Gilroy-Bold";
            font-style: normal;
            font-weight: bold;
            font-size: 24.95px;
            line-height: 30px;
            color: #222222;
            
            }
            
            .seventh_text{
            
            position: absolute;
            width: 175.61px;
            height: 16.63px;
            left: 160.01px;
            top: 1820.11px;
            font-family:"Gilroy-Bold";
            font-style: normal;
            font-weight: 500;
            font-size: 11.0889px;
            line-height: 150%;
            color: #73738D;
            }
            
            .search_button{
            
            position: absolute;
            width: 155.94px;
            height: 41.58px;
            left: 910.93px;
            top: 1800.31px;
            background: #26C296;
            border-radius: 33.9597px;
            }
    }